!!!
%html
  %head
    %meta{:content => "Homepage of Volodymyr Dziubak", :name => "description"}
    %meta{:content => "VDziubak,Volodymyr,Dziubak,DVR,Web developer", :name => "keywords"}
    %meta{:content => "Volodymyr Dziubak", :name => "author"}
    %meta{:charset => "UTF-8"}
    %title Volodymyr Dziubak
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/colorbox/jquery.colorbox.js"}
    %script{:src => "/scripts/main.js"}
    %link{:href => "/colorbox/colorbox.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/styles/layout.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %header
      %h1 Volodymyr Dziubak
      #contacts
        %a#mail{:href => ""}
        %a#google-plus{:href => ""}
        %a#skype{:href => ""}
        %a#facebook{:href => ""}
    %nav
      %a#switch-1{:href => "/cv"} Curicculum Vitae
      %a#switch-2.active{:href => "/"} Welcome
      %a#switch-3{:href => "/portfolio"} Portfolio
    #content
      =yield
    %img#bg{:src => "/images/bg.jpg"}