/* CSS Document */
nav a{
  opacity:0.8;
  transition: opacity;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s; /* Firefox 4 */
  -webkit-transition: opacity 0.5s; /* Safari and Chrome */
  -o-transition: opacity 0.5s; /* Opera */
}

nav a:hover,
nav a.active{
  opacity:1;
}

.portfolio-image div {
  transition: opacity;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s; /* Firefox 4 */
  -webkit-transition: opacity 0.5s; /* Safari and Chrome */
  -o-transition: opacity 0.5s; /* Opera */
}

.portfolio-image {
  transition: all;
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari and Chrome */
  -o-transition: all 0.5s; /* Opera */
}

.portfolio-image:hover > div {
  opacity:1;
}
