@import url("reset.css");
@import url("backgrounds.css");
@import url("font.css");
@import url("effects.css");
@import url("response.css");

html, body{
  width:100%;
}

header{
  width:100%;
  overflow:hidden;
}

#contacts a {
  display:block;
  float:left;
  width:2em;
  height:2em;
  margin:0.25em;
}

a:link,
a:visited,
a:hover {
  color:#1eff00;
}

nav{
  margin: 0.7em 0;
}

nav a:link,
nav a:visited,
nav a:hover {
  color:inherit;
}

#content > div {
  overflow: hidden;
  width:98%;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

#content > div h3 {
  padding:0.8em;
  font-size:1.3em;
  padding-left:2em;
}

#content > div h3{
  clear:both;
}

#content > div p {
  padding: 1em;
}

article {
  overflow:hidden;
}

#bg{
  display:block;
  position:fixed;
  z-index:-5;
  top:0;
  left:0;
}

.portfolio-image {
  float:left;
  border-radius:10px;
  overflow: hidden;
  position:relative;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
}

.portfolio-image img {
  max-width:100%;
  display:block;
  border-radius:10px;
}

.portfolio-image div {
  overflow: hidden;
  height:50%;
  width:100%;
  top:50%;
  left:0;
  position:absolute;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  opacity:0;
}

.portfolio-image div a.sitelink  {
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
}

.portfolio-image div p {
  padding-top: 0.5em;
  padding-left:0.7em;
  width:75%;
}

a.colorbox-image {
  position:absolute;
  top:1em;
  right:1em;
  width:1.3em;
  height:1.3em;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left:1.5em;
  padding-right:1em;
}

#content > div ul:last-of-type {
  padding-bottom:1em;
}

ul li {
  padding-bottom:0.5em;
}

section p {
  padding-bottom:1em;
}

section p:last-of-type {
  padding-bottom:0;
}